$dark: #000;
$t-dark: #333;
$f-dark: #444;
$tt-dark: #343a40;
$light: #fff;
$bs-light: #f8f9fa;
$cl-gray: #f1f7fb;
$bck-light-blue: #f5f9fc;
$light-blue: #428bca;
$dark-blue: #1c5c93;
$d-light-blue: #9eccf4;
$blue-r: #428bca;
$blue-m: #0d6efd;
$blue-eh: #5c768d;
$blue-ef: #768fa6;
$blue-eg: #67839c;
$blue-ek: #587187;
$brwn: rgb(118, 118, 118);
$gray: #5c768d;
$m-gray: #1f3548;

//Element Colors
$line-s: #738799;