@import "fonts";
@import "colors";

// Desktop
@media screen and (min-width: 1200px) {
  @import "desktop";

  // .order-first {
  //   order: 5 !important;
  // }

  // .order-last {
  //   order: -1 !important;
  // }
}

// Mobile
@media screen and (max-width: 576px) {
  @import "mobile";
}